// src/styles/_variables.scss

// Theme colors
$primary-color: #00246B;
$secondary-color: #CADCFC;
$background-color: #ffffff;
$text-color: #333333;
$border-color: #cccccc;
$danger-color: #f52c16;
$success-color: #2ecc71;

// Font Sizes
$text-small: 0.8rem;
$text-medium: 1rem;
$text-large: 1.3rem;

$title-small: 1.5rem;
$title-medium: 1.8rem;
$title-large:2rem;

// Border radius
$border-radius: 2rem;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Z-index
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 3;
}

// Height
.h-auto{
    height:auto;
}
.h-1-5-rem{
    height: 1.5rem;
}

// Margins 
.ml-5rem{
    margin-left: 5rem;
}
// Title Class 
.title-color {
    color: $primary-color;
}