// src/user/Majors/Majors.scss
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.majors {
  width: 100%;
  padding: 1rem;

  &__title {
    font-size: $title-large;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 2rem;

    @include respond(phone) {
      font-size: $title-medium;
    }
  }

  &__header {
    margin-bottom: 1.5rem;
  }

  &__error {
    color: $danger-color;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
  }

  &__table-wrapper {
    max-height: 65vh;
    overflow-y: auto;
    border-radius: $border-radius;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;
      background-color: $primary-color;
      color: white;
      z-index: 1;
    }

    th,
    td {
      padding: 0.75rem;
      text-align: left;
    }

    tbody tr:nth-child(even) {
      background-color: $secondary-color;
    }

    tbody tr:nth-child(odd) {
      background-color: white;
    }
  }

  &__row {
    cursor: default;
    transition: background 0.2s;

    &:hover {
      background: lighten($primary-color, 46%);
    }
  }

  &__empty {
    text-align: center;
    font-style: italic;
    padding: 1rem;
  }
}
